// Specific CSS for your home-page
.flogo{
  width: 150px;
  height: 104.305px;
  flex-shrink: 0;
  margin-bottom: 20px;
}


.Flogo p{
  text-align: center;
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}
