h5, p{
  color: white;
}

.img {
  height: 200px;
  flex-shrink: 0;
  border-radius: 7px;
  object-fit: cover;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}
