
<div class="row" style="justify-content: center;">
  <div class="col-sm-8 my-3">
    <form action="<%= activities_path %>" method="get" class="d-flex">
      <input type="text" name="date_begin" value="<%= params[:date_begin] %>"
             data-controller="datepicker"
             class="form-control" placeholder="Choisissez une date !">
      <input type="submit" value="C'est parti !" class="btn btn-primary">
    </form>
  </div>
</div>
