<div class="container">
  <div class="Flogo">
  <%=  image_tag "Funfinder_logo.png" %>
  </div>
  <div class="form_date">
    <%= render 'form_date', activity: @activity %>
  </div>

    <!-- card en display flex pour afficher les 5 dernières activités. -->

  <div class="category_card">
    <!--HTML "amusez vous en 3 étapes"-->
  </div>
</div>
