<div class="container">
  <div class="Flogo">
  <%=  image_tag "Funfinder_logo.png" %>
  </div>
  <div class="form_date">
    <%# <%= render 'activities/form_activity', activity: @activity %>
  </div>
  <div class="slide_cards" data-controller="slider">
    <div class="wrapper">
      <section class="slider-nav slider">
        <div>
          <div class="card">
            <div class="card__type">
              <div class="Card-logo fa fa-cc-visa"></div>
            </div>
            <div class="card__number">
            **** **** **** 7427
            </div>
            <div class="card__section card__section--left">
              <div class="card__section-title">Cardholder Name</div>
              <div class="card__section-content">Bryan Baker</div>
            </div>
            <div class="card__section card__section--right">
              <div class="card__section-title">Expiry</div>
              <div class="card__section-content">03/20/2017</div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card__type">
              <div class="Card-logo fa fa-cc-visa"></div>
            </div>
            <div class="card__number">
            **** **** **** 7427
            </div>
            <div class="card__section card__section--left">
              <div class="card__section-title">Cardholder Name</div>
              <div class="card__section-content">Bryan Baker</div>
            </div>
            <div class="card__section card__section--right">
              <div class="card__section-title">Expiry</div>
              <div class="card__section-content">03/20/2017</div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card__type">
              <div class="Card-logo fa fa-cc-visa"></div>
            </div>
            <div class="card__number">
            **** **** **** 7427
            </div>
            <div class="card__section card__section--left">
              <div class="card__section-title">Cardholder Name</div>
              <div class="card__section-content">Bryan Baker</div>
            </div>
            <div class="card__section card__section--right">
              <div class="card__section-title">Expiry</div>
              <div class="card__section-content">03/20/2017</div>
            </div>
          </div>
        </div>
      </section>
    # card en display flex pour afficher les 5 dernières activités.
    </div>
  </div>
  <div class="category_card">
    #HTML "amusez vous en 3 étapes"
  </div>
</div>
