
.thecontainer {
background-color: #ffffff;
object-fit: cover;
text-align: center;
justify-content: center;
position: relative;
}

p {
  font-size: 10px;
  margin-top: 10px;
}

h5 {
  font-size: 20px;
  margin-top: 10px;
}

.container-index{
  background-color: #FFF7ED;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  position: relative;

  .img-activity {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
