.thecontainer {
background-color: white;
object-fit: cover;
text-align: center;
justify-content: center;
width: 430px;
height: 932px;
position: relative;

  .img-activity {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
