
// Footer styles
footer {
  background-color: rgb(255, 255, 255); // Noir
  color: white;
  padding-top: 6px;;
  height: 60px;
  font-size: 30px;
  box-shadow: 7px 7px 7px 7px rgba(205, 205, 205, 0.75);
  // Liste des liens dans le footer
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; // Alignement horizontal
    display: flex;
    justify-content: space-around;

    // Styles pour chaque lien
    li {
      a {
        text-decoration: none;
        color: rgb(208, 208, 208);

        &.active {
          color: #FA8460; // Remplacez cette couleur par celle que vous souhaitez
        }

      }
    }
  }
}
.yield {
  min-height: calc(100vh - 80px);
}
