.like {
  h1 {
  margin: 20px;
  color: #FA8460;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  }

  h4 {

  text-align: center;
  font-size: 16px;
  font-weight: 600;
  }

  a{
    color: #FA8460;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none
  }

 p {
  margin-bottom: 0px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  }

 .card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  border-radius: 7px;
}

.color-black {
  color: #000000;
  font-size: 15px;
}

.card-product-infos {
 padding-left: 16px;
 padding-top: 8px;

}

 .card-product img {
  padding-left: 8px;
  width: 150px;
  object-fit: cover;
  border-radius: 7px;
  height: 100px;
}

.heart-icon {
  text-align: right;
  padding: 10px;
}


@media (max-width: 768px) {
  .activity-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .activity-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: white !important;
  border-radius: 7px !important;
}

.btn-primary:hover {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
  border-radius: 7px !important;
}

.btn-outline-primary {
  margin-top: 7px;
  color: #FA8460;
  background-color: white;
  border: 1px solid #FA8460;
  border-radius: 7px !important;
}
.btn-outline-primary:hover {
  margin-top: 7px;
  color: white;
  background-color: #FA8460;
  border: 1px solid #FA8460;
  border-radius: 7px !important;
}

}

.margin-16{
  margin: 16px;
}
