.glide__slide {
  width: 50%;

  h5 {
    margin-top: 10px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  p {
    margin-top: 20px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

  }
}

.glide__controls {
  display: none;
}

.img {
  margin-top: 30px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 7px;
  object-fit: cover;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FA8460;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.display2cols {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
