.show{
  h1 {


  color: #FA8460;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  }
  h2 {
  color: #000000;
  text-align: center !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  }
  h4 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-shadow: 1px 0px 7px black;
  }

  h5 {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  }

  p {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  }
  .img-activity{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  }
}


.webbutton {
    color: #FA8460;
    background-color: white;
    border: #FA8460 solid 2px;
    border-radius: 7px !important;
    width: 100px;
    padding: 3px;
    text-decoration: none;
}

.coucou {
display: flex;
}

.rounded-card{
  border-radius: 7px;
}

.border-show{

  display: flex;
  flex-direction: column;
  align-items: center;




}

.card-show-background{
  //background-color: #fff7f7fd;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 560px;
}

.link-yellow{
  color: #FA8460 !important;
  font-size: 12px;
}
