<%# <style>
  .custom-marker > .marker {
    font-style: 50px !important;
    color: #fa8460;
  }
</style> %>

<div class="custom-marker" id="category-<%=id%>">
  <i class="fa-solid fa-location-dot marker" style="font-size:33px; color:#fa8460"></i>
</div>
